In [1]:
import pandas as pd
df = pd.read_csv('data_no_dup.csv')
df.agg(['count', 'size', 'nunique'])

,주호소 및 현병력,주호소 및 현병력 영문,진단코드,진단명,진단분류,진단소분류,진단중분류,진료의세부분야,진료과
count,174391,173492,174391,174391,174391,174391,174391,173973,174391
size,174391,174391,174391,174391,174391,174391,174391,174391,174391
nunique,174391,146229,6042,5986,3914,1090,220,163,24

In [2]:
counts = df['진단코드'].value_counts()
counts

Z000         3138
R1049        2547
R42-001      1968
I839         1820
R91          1723
             ...
K2211-001       1
K717            1
C1619           1
S002            1
J679-A2         1
Name: 진단코드, Length: 6042, dtype: int64

In [3]:
counts.quantile([0.25, 0.5, 0.75, 0.9, 0.99])

0.25      2.00
0.50      4.00
0.75     12.00
0.90     51.00
0.99    495.26
Name: 진단코드, dtype: float64

In [4]:
df = df.groupby('진단코드').filter(lambda x : len(x) > 20)
df = df[df['진단코드'] != 'Z000']
df.agg(['count', 'size', 'nunique'])

,주호소 및 현병력,주호소 및 현병력 영문,진단코드,진단명,진단분류,진단소분류,진단중분류,진료의세부분야,진료과
count,147856,147110,147856,147856,147856,147856,147856,147438,147856
size,147856,147856,147856,147856,147856,147856,147856,147856,147856
nunique,147856,124391,1095,1084,883,474,155,160,23

In [7]:
sample = df[['진단코드', '진단명']]
sample.groupby('진단명')

In [6]:
dic = {}
def remove_diff(row, key_str, val_str):
    key, value = row[key_str], row[val_str]
    try:
        if dic[key] != value:
            row[val_str] = dic[key]
    except KeyError:
        dic[key] = value
    return row
df.apply(lambda row: remove_diff(row, '진단명', '진단코드'), axis=1)
print('Done')

Done

In [7]:
df.agg(['count', 'size', 'nunique'])

,주호소 및 현병력,주호소 및 현병력 영문,진단코드,진단명,진단분류,진단소분류,진단중분류,진료의세부분야,진료과
count,147856,147110,147856,147856,147856,147856,147856,147438,147856
size,147856,147856,147856,147856,147856,147856,147856,147856,147856
nunique,147856,124391,1084,1084,883,474,155,160,23

In [8]:
df.to_csv('data_no_sparse.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv('data_no_sparse.csv')

In [ ]:
def remove_diff(row, key_str, val_str):
    key, value = row[key_str], row[val_str]
    try:
        if dic[key] != value:
            print(True)
    except KeyError:
        dic[key] = value
    return row
df.apply(lambda row: remove_diff(row, '진단명', '진단코드'), axis=1)